@import url('./normalize.css');
@import url('./components/components.css');

:root {
  --primary-color: white;
  --secondary-color: black;

  --container-size: 100rem;

  --header-height: 60px;

  --footer-height: 60px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.img {
  /* width: 100%; */

  /* max-width: 100%;
  height: auto; */

  width: 100%;
  height: auto;
}

.h-lvl2 {
  display: block;

  width: 100%;

  font-size: 48px;
  font-weight: 600;
}

.h-lvl3 {
  display: block;

  text-align: center;

  width: 100%;

  font-size: 36px;
  font-weight: 600;
}

.paragraph {
  font-size: 20px;

  line-height: 28px;
}

/* -------------------------------------------------------------------------------- */

.container {
  width: 90%;
  height: 100%;

  margin: 0 auto;

  max-width: var(--container-size);
}

/* -------------------------------------------------------------------------------- */

.introducing-block {
  display: grid;
}

.introducing-block__button {
  grid-row: 3 / 4;
}

@media (min-width: 1200px) {
  .introducing-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .introducing-block__header {
    display: flex;
    align-items: flex-end;

    margin-right: 20px;
  }

  .introducing-block__button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    max-width: 400px;
  }

  .introducing-block__img {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
  }
}

/* -------------------------------------------------------------------------------- */

.about-block {}

.about-block__img {}

.about-block__info {}

@media (min-width: 1200px) {
  .about-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-block__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
  }
}

/* -------------------------------------------------------------------------------- */

.services-block {}

.services-block__header {}

/* -------------------------------------------------------------------------------- */

.contacts-container {
  display: block;
}

.location-img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  /* overflow: hidden; */
}

@media (min-width: 1120px) {
  .contacts-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts {}

  .contacts__block {}
  /* align all blocks in contacts to left side! */
}

.contacts {}

.contacts__block {
  margin-top: 12px;
}

.contact-header {
  font-size: 20px;
  font-weight: 300;
}

.contact-info {
  font-size: 20px;
  font-weight: 600;

  margin: 0;
  margin-top: 8px;
}

.contact-info a {
  margin-left: 4px;
}

/* @media (min-width: 1200px) {
  .contacts-container {
    display: flex;
  }
} */

/* -------------------------------------------------------------------------------- */

.request-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------------- */

